{% extends "account/base.html" %}

{% load i18n %}

{% load staticfiles %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 style="text-align: center;">{% trans "Sign Up" %}</h1>

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <link rel="shortcut icon" href="{% static "favicon/favicon.ico" %}"/>
    <title>Hello Django!</title>
</head>

<div style="text-align: center;">
<p  style="text-align: center;">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{form.as_p}}
  <!--{% for elem in form %}
    <br> {{elem}}<br>
  {% endfor %}-->
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="enter" type="submit">{% trans "Sign Up" %}</button>
</form>
{% endblock %}
</div>
</html>