<!DOCTYPE html>
{% load staticfiles %}

<!-- Страница с результатами поиска по модулям -->

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <link rel="shortcut icon" href="{% static "favicon/favicon.ico" %}"/>
    <title>Hello Django!</title>
</head>

<body>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-sm-12'>
            <h1 style="text-align:center">Поиск в разделе "Модули"</h1>
            <h3>Найденные результаты: {{ founded_mods.count }}</h3>
            {% for module in founded_mods %}
                <h4><a href = "/modules/{{ module.id }}">{{module.Name}}</a></h4>
                <p>{{module.Description|truncatewords:30}}</p>
            {% endfor %}
        </div>
    </div>
</div>

</body>
<p style="text-align: center;"><a href="/modules/"><span style="color: #0000ff;">Модули</span></a></p>
<p style="text-align: center;"><a href="/"><span style="color: #0000ff;">Вернуться на главную страницу</span></a></p>
</html>